@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');




*{
    margin: 0;
    padding: 0;
}
img{
    width: 30vw;
    height: 30vh;
   
}
nav{
    background-color: #06435f;
}
div > a{
    color:#1283b9 ;
    padding: 1,5em;
}
#szoveg{
    margin-left: 5vw;
    margin-right: 1vw;
}

header{
    height: 400px;
    width: 100%;
    background-image:url(../img/balaton_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header>div{
    text-shadow: 2px 2px black;
    font-family: "Marhey", sans-serif;
}
.row{
    margin-left: 50px;
    margin-right: 50px;
}

span{
    border-bottom: solid 2px ;
    font-family: "Marhey", sans-serif;
}
.toKep{
    border:solid 2px  #1283b9;
    border-radius: 10px;
}
#sotetkek{
    background-color:#06435f; ;
}
#vilagoskek{
    background-color: #1283b9;
}
table {
    border-collapse: collapse;
  }
.szin{
    color: #06435f;
}